@import url(styles/side-navigation.css);
@import url(styles/anchors.css);
@import url(styles/source-code.css);
:root {
    --background-light: #f0f5f0;
    --background: #e5f0e5;
    --background-dark: #d0e5d0;
    --font-dark: #305030;
    --gray-100: #ececec;
}
body {
    font-family: ui-sans-serif,-apple-system,system-ui,Segoe UI,Helvetica,Apple Color Emoji,Arial,sans-serif,Segoe UI Emoji,Segoe UI Symbol
}
canvas {
    border: 1px solid #ddd;
    background-color: #eee;
}
pre[class*=language-] {
    border: 1px solid #e5e5e5;
}
body {
    margin: 0;
    display: flex;
}
main {
    flex: 1;
    margin: 0 3em;
    min-width: 0;
    overflow: auto;
}