.code-with-output {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background-light);
    padding: 0 0.5em;
}
.code-with-output > :nth-child(1) {
    flex: 1;
    margin: 0 0.5em 0 0;
}
.code-with-output > :nth-child(2) {
    /* padding: 0 1em 0 0;
    margin: .5em 1em; */
    margin: .5em 0 0 0;
    display: flex;
    flex-direction: column;
}
code:not(.language-typescript) {
    background-color: var(--gray-100);
    border-radius: .25rem;
    color: var(--tw-prose-code);
    font-size: .875em;
    font-weight: 500;
    padding: .15rem .3rem;
}